<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Introduction to Json</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $("#btn").click(function(){
              var formData=new FormData($("#formdata")[0]);

           var jsonData={
               "name":"Suraj",
               "age":21,
               "hobby":["cricket","football"],
               "mobile":"8285333059"
             /*  "name":$("#myname").val(),
               "mobile":$("#mobile").val()*/
           }

           formData.append("jsonString",JSON.stringify(jsonData));
            // console.log(Array.from(formData));
           $.ajax({
               type: "POST",
               enctype: 'multipart/form-data',
               url: "/submitdata",
               data: formData,
               processData: false,
               contentType: false,
               cache: false,
               success:function (formData) {
                   alert("success");
               },
               error:function (e) {
                   alert(e+" error");
               }
           });

            });
        });
    </script>
</head>
<body>
<div>
    <h1>Hello Json Ji</h1>
    <div>
        <form method="post" action="/submitdata">
            Name: <input type="text" name="myname" id="myname" /><br><br>
            Mobile: <input type="text" name="mobile" id="mobile" /><br><br>
            File <input type="file" name="myfile" /><br> <br>
            <input type="submit" value="Submit">

        </form>

    </div>
</div>
</body>
</html>